body {
background-image: url("../images/login_background.jpg");
background-color: black;
background-position: center; 
background-size:cover
}
h1 {
color: navy;
margin-left: 20px;
}
button {
text-align: center;
text-decoration: none;
}
.container{
border-width:1px;
margin-top:6cm;
width:30%;
margin-left:50%;
}
.columnheader
{
    text-align: center;
    text-transform: capitalize;
    color: blue;
}
.bodyback{
background-image: url("../images/mainpage.jpg");
background-color: black;
background-position: center;
background-size:cover


}
